extends ../node_modules/pug-bootstrap/layouts/navbar-fixed

block body
  +navbar("Force.com","navbar", "inverse")
    +nav_item("/") Home
    +nav_item("/assets", "active") Assets
    +nav_item("/cases") Cases
    +nav_item("/accounts") Accounts
    +nav_item("/contacts") Contacts
    +nav_item("#") Opportunities

  .container
    div(style='padding-bottom:10px;')
    ul(id='sfmessage')
    br
    div
      form.form-signin(action="/create-asset", method="get")
         // button.btn.btn-large.btn-primary(type="submit", style='margin:1px;') Create asset
      table.table.table-striped.table-hover.span12
        thead
          tr 
            th Id 
            // th AccountId
            th Name
            th Description
            //th Product
            //th Status
            th SerialNumber
            //th Thumbnail Image
            th Rounds Per Minute
            th Operating Hours
            th Service date

        tbody
          each r in records
            
            tr
             form.form-signin(action="/manage-asset", method="post")
              td
                 input.input-block-level(type="text", 
                                         name="id", 
                                         value=r.get('id'), readonly
                                         )
              // td= r.get('AccountId')
              td= r.get('Name')
              td= r.get('Description')
              //td= r.get('Product2Id')
              //td= r.get('Status')
              td= r.get('SerialNumber')
              //td= r.get('Thumbnail_Image__c')
              td
                 input.input-block-level(type="text", 
                                         name="id", 
                                         value=r.get('RPM__c'))
              td
                 input.input-block-level(type="text", 
                                         name="id", 
                                         value=r.get('Operating_Hours__c'))
              td
                 input.input-block-level(type="date", 
                                         name="id", 
                                         value=r.get('ServiceDate__c'))
              td
                button.btn.btn-large.btn-primary(type="submit", name="save", style='margin:1px;') Save
              td
                button.btn.btn-large.btn-primary(type="submit", name="delete", style='margin:1px;') Del