extends ../node_modules/pug-bootstrap/layouts/navbar-fixed

block body
  +navbar("Force.com","navbar", "inverse")
    +nav_item("/") Home
    +nav_item("/cases", "active") Cases
    +nav_item("/accounts") Accounts
    +nav_item("/contacts") Contacts
    +nav_item("#") Opportunities

  .container
    div(style='padding-bottom:10px;')
    ul(id='sfmessage')
    br
    div
      form.form-signin(action="/create-case", method="get")
         button.btn.btn-large.btn-primary(type="submit", style='margin:1px;') Create case
      table.table.table-striped.table-hover.span12
        thead
          tr 
            th Id 
            th Case number
            th External ID
            th Serial number
            th Asset
            th Subject
            th Origin
            th Priority
            th Status
        tbody
          each r in records
            
            tr
             form.form-signin(action="/manage-case", method="post")
              td
                 input.input-block-level(type="text", 
                                         name="id", 
                                         value=r.get('id'), readonly
                                         )
              td= r.get('CaseNumber')
              td= r.get('KBA_External_ID__c')
              td= r.get('SF_Serial_Number__c')
              td= r.get('AssetId')
              td= r.get('Subject')
              td= r.get('Origin')
              td= r.get('Priority')
              td= r.get('Status')
              td
                button.btn.btn-large.btn-primary(type="submit", name="close", style='margin:1px;', disabled=(r.get('Status') == 'Closed' ? true : false)) Close
              td
                button.btn.btn-large.btn-primary(type="submit", name="delete", style='margin:1px;') Del